<a href="https://colab.research.google.com/github/sdazz56/Data-Science-Projects/blob/main/FlightPricePrediction(EDA%2BFE).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline # dont have to write plt.show---it automatically shows the graph
import seaborn as sns

In [ ]:
train_df= pd.read_excel('/content/Data_Train.xlsx')
train_df.head()

In [ ]:
test_df= pd.read_excel('/content/Test_set.xlsx')
test_df.head()

#Merging train and test data

In [6]:
final_df=train_df.append(test_df)

Now we will do feature engineering on some columns like 

Date_of_Journey, 
 
 Arrival_Time, 
 
 Dep_Time, 
 
 Route and 
 Duration.

In [ ]:
final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Date_of_Journey'].str.split('/').str[1]

In [15]:
final_df['Date']= final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month']=final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year']=final_df['Date_of_Journey'].apply(lambda x:x.split("/")[2])

In [17]:
final_df['Date']=final_df['Date'].astype(int)
final_df['Month']=final_df['Month'].astype(int)
final_df['Year']=final_df['Year'].astype(int)

In [19]:
final_df.drop('Date_of_Journey',axis=1,inplace=True)

In [ ]:
final_df['Arrival_Time'].str.split(' ').str[0]

In [26]:
final_df['Arrival_Time']=final_df['Arrival_Time'].str.split(' ').str[0]

In [ ]:
final_df.isnull().sum()

In [ ]:
final_df['Arrival_Time'].str.split(':').str[0]

In [31]:
final_df['Arrival_Hour']=final_df['Arrival_Time'].str.split(':').str[0]
final_df['Arrival_Min']=final_df['Arrival_Time'].str.split(':').str[0]

In [32]:
final_df['Arrival_Hour']=final_df['Arrival_Hour'].astype(int)
final_df['Arrival_Min']=final_df['Arrival_Min'].astype(int)

In [35]:
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [ ]:
final_df['Dep_Time'].str.split(':').str[0]

In [41]:
final_df['Dep_Hour']=final_df['Dep_Time'].str.split(':').str[0]
final_df['Dep_Min']=final_df['Dep_Time'].str.split(':').str[1]

In [44]:
final_df['Dep_Hour']=final_df['Dep_Hour'].astype(int)
final_df['Dep_Min']=final_df['Dep_Min'].astype(int)

In [46]:
final_df.drop('Dep_Time',axis=1,inplace=True)

In [ ]:
final_df.info()

In [ ]:
final_df[final_df['Total_Stops'].isnull()]

In [50]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'1 stop':1, '2 stops':2, '3 stops': 3, '4 stops':4,'NaN':1})

In [ ]:
final_df.drop('Route',axis=1,inplace=True)

In [ ]:
final_df['Duration'].unique()

In [ ]:
final_df[final_df['Duration'].str.split(' ').str[1].isnull()]

In [ ]:
#final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]
final_df['Duration'].str.split(' ').str[1].str.replace('m',' ')

In [66]:
final_df['Duration_Min']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [69]:
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)
final_df['Duration_Min']=final_df['Duration_Min'].astype(int)

In [70]:
final_df['Duration_Min']=final_df['Duration_Min']*60

In [ ]:
final_df.head()

In [83]:
final_df.drop('Duration',axis=1,inplace=True)

#Now we do LabelEncoding for Categorical Features

In [84]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [85]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [86]:
final_df['Airline']=labelencoder.fit_transform(final_df['Airline'])
final_df['Source']=labelencoder.fit_transform(final_df['Source'])
final_df['Destination']=labelencoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']=labelencoder.fit_transform(final_df['Additional_Info'])

In [87]:
final_df.shape

(13351, 14)

In [90]:
pd.get_dummies(final_df,columns=['Airline','Source','Destination','Additional_Info'],drop_first=True)

,Total_Stops,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min,Duration_Min,...,Destination_5,Additional_Info_1,Additional_Info_2,Additional_Info_3,Additional_Info_4,Additional_Info_5,Additional_Info_6,Additional_Info_7,Additional_Info_8,Additional_Info_9
0,0.0,3897.0,24,3,2019,1,1,22,20,120,...,1,0,0,0,0,0,0,0,1,0
1,2.0,7662.0,1,5,2019,13,13,5,50,420,...,0,0,0,0,0,0,0,0,1,0
2,2.0,13882.0,9,6,2019,4,4,9,25,1140,...,0,0,0,0,0,0,0,0,1,0
3,1.0,6218.0,12,5,2019,23,23,18,5,300,...,0,0,0,0,0,0,0,0,1,0
4,1.0,13302.0,1,3,2019,21,21,16,50,240,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1.0,NaN,6,6,2019,20,20,20,30,1380,...,0,0,0,0,0,0,0,0,1,0
2667,0.0,NaN,27,3,2019,16,16,14,20,120,...,0,0,0,0,0,0,0,0,1,0
2668,1.0,NaN,6,3,2019,4,4,21,50,360,...,0,0,0,0,0,0,0,0,1,0
2669,1.0,NaN,6,3,2019,19,19,4,0,900,...,0,0,0,0,0,0,0,0,1,0
2670,1.0,NaN,15,6,2019,19,19,4,55,840,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
final_df.head()

In [89]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  int64
 1   Source           13351 non-null  int64
 2   Destination      13351 non-null  int64
 3   Total_Stops      13350 non-null  float64
 4   Additional_Info  13351 non-null  int64
 5   Price            10681 non-null  float64
 6   Date             13351 non-null  int64
 7   Month            13351 non-null  int64
 8   Year             13351 non-null  int64
 9   Arrival_Hour     13351 non-null  int64
 10  Arrival_Min      13351 non-null  int64
 11  Dep_Hour         13351 non-null  int64
 12  Dep_Min          13351 non-null  int64
 13  Duration_Min     13351 non-null  int64
dtypes: float64(2), int64(12)
memory usage: 1.5 MB