<a href="https://colab.research.google.com/github/sdazz56/Data-Science-Projects/blob/main/Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Linear Regression, Lasso and Ridge

In [2]:
#house pricing dataset
from sklearn.datasets import load_boston

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df=load_boston()
df

In [5]:
dataset=pd.DataFrame(df.data)
dataset.columns=df.feature_names

Step 1:
Here all features are independent and price is dependent feature

In [6]:
 dataset['Price']=df.target

In [7]:
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [8]:
#dividing the dataset into independen and dependent features
X=dataset.iloc[:,:-1] ##Independent features
y=dataset.iloc[:,-1]

In [9]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [10]:
#Linear Regression

#crossvalidation

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
lin_reg=LinearRegression()
mse=cross_val_score(lin_reg,X,y,scoring='neg_mean_squared_error',cv=5)
mean_mse=np.mean(mse)
print(mean_mse)

-37.131807467699055

In [11]:
#Ridge Regression
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
ridge=Ridge()
params={'alpha':[1e-15,1e-10,1e-08,0.001,0.01,1,5,10,20,30,35,40,45,50,55,100]}
ridge_regressor=GridSearchCV(ridge,params,scoring='neg_mean_squared_error',cv=5)
ridge_regressor.fit(X,y)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 35, 40, 45, 50, 55, 100]},
             scoring='neg_mean_squared_error')

In [12]:
print(ridge_regressor.best_params_)
print(ridge_regressor.best_score_)

{'alpha': 100}
-29.905701947540344

In [ ]:
#Lasso Regression
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
lasso=Lasso()
params={'alpha':[1e-15,1e-10,1e-08,0.001,0.01,1,5,10,20,30,35,40,45,50,55,100]}
lasso_regressor=GridSearchCV(lasso,params,scoring='neg_mean_squared_error',cv=10)
lasso_regressor.fit(X,y)

In [ ]:
print(lasso_regressor.best_params_)
print(lasso_regressor.best_score_)

#Logistic Regression

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
from sklearn.datasets import load_breast_cancer
##Independent features
df=load_breast_cancer()
X=pd.DataFrame(df['data'],columns=df['feature_names'])

In [ ]:
df

In [ ]:
##Dependent features

y=pd.DataFrame(df['target'],columns=['Target'])
y

In [25]:
 #Train test split

 from sklearn.model_selection import train_test_split
 X_train,X_test,y_train,y_test=train_test_split(
     X,y,test_size=0.33,random_state=42)

In [26]:
params=[{'C':[1,5,10]},{'max_iter':[100,150]}]

In [27]:
model1=LogisticRegression(C=100,max_iter=100)

In [28]:
model=GridSearchCV(model1,param_grid=params,scoring='f1',cv=5)

In [ ]:
model.fit(X_train,y_train)

In [34]:
model.best_score_

0.9558624887109136

In [35]:
model.best_params_

{'max_iter': 150}

In [ ]:
y_pred=model.predict(X_test)
y_pred

In [37]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
accuracy_score(y_test,y_pred)

In [ ]:
print(classification_report(y_test,y_pred))